.admin-navbar {
  background: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;

  h1 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .profile {
    span {
      color: #333;
      font-weight: 500;
    }
  }
}
