.admin-sidebar {
  width: 240px;
  background: #0b2447;
  color: white;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      color: #ddd;
      text-decoration: none;
      padding: 0.6rem 1rem;
      border-radius: 6px;
      transition: 0.2s;

      &:hover {
        background: #19376d;
        color: #fff;
      }
    }
  }
}
