@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --col-black-1: #333333;
  --col-black-2: #111111;
  --col-blue-1: #003aad;
  --col-purple-1: #5e1a45;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  // height: 7000px;
}

section,
.section {
  width: 100%;
  padding: 0 20px;
}

.section.high {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

.tagline {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.section-title {
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: 500;
}

.global-btn {
  padding: 0.7rem 3rem;
  text-decoration: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: inline-flex;
  width: max-content;
}

.transparent-btn {
  color: var(--col-purple-1);
  border: 2px solid var(--col-purple-1);
}

.purple-btn {
  background-color: var(--col-purple-1);
  color: #ffffff;
  border: 2px solid var(--col-purple-1);
}

span.col-purple {
  color: var(--col-purple-1);
}

span.col-blue {
  color: var(--col-blue-1);
}

#header-section {
  padding-top: 2rem;
  height: 120px;
  position: relative;
  z-index: 2;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    padding: 0 2rem;
    .logo {
      object-fit: cover;
    }
    nav {
      width: 100%;
      //   background-color: green;
      ul {
        display: flex;
        gap: 2rem;
        justify-content: end;
        list-style: none;
        li a {
          text-decoration: none;
          color: var(--col-black-2);
        }
      }
    }
    .burger-menu {
      width: 32px;
      display: none;
      flex-direction: column;
      gap: 0.2rem;
      flex-grow: 1;
      span {
        height: 3px;
        width: 100%;
        background-color: green;
      }
    }
  }
}
